<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>977971437737-4gphpt2utsj4l6ctvb815rvi096jdbql.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.977971437737-4gphpt2utsj4l6ctvb815rvi096jdbql</string>
	<key>API_KEY</key>
	<string>AIzaSyBvcfQN-VAUINbs-_-eEl4JR7qZrtvRUDc</string>
	<key>GCM_SENDER_ID</key>
	<string>977971437737</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterapptodo</string>
	<key>PROJECT_ID</key>
	<string>flutterexample-2578c</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterexample-2578c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:977971437737:ios:4c4a9cc92746f161</string>
	<key>DATABASE_URL</key>
	<string>https://flutterexample-2578c.firebaseio.com</string>
</dict>
</plist>